%h1.bg-info.p-3 tako-market
.container
  - if user_signed_in?
    .row
      .col
        = current_user.nickname
        = current_user.email
      .col
        = link_to destroy_user_session_path, method: :delete do
          LOG OUT
  - else
    .row
      .col
        = link_to new_user_registration_path do
          SIGN UP
      .col
        = link_to new_user_session_path do
          SIGN IN
  .row
    = link_to new_item_path do
      商品出品