%h1.bg-info.p-3 商品出品画面
.container
  = form_for(@item, url: items_path) do |f|
    .field.p-3.text-info.w-50
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
    .field.p-3.text-info.w-50
      = f.label :price
      %br/
      = f.text_field :price, autofocus: true, autocomplete: "price", class: "form-control"
    .field.p-3.text-info.w-50
      = f.label :prefecture
      %br/
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---", selected: 3}, class: "form-control"
    .field.p-3.text-info.w-50
      = f.label :status
      %br/
      = f.text_field :status, autofocus: true, autocomplete: "status", class: "form-control"
    .field.p-3.text-info.w-50
      = f.label :image
      %br/
      = f.file_field :image, autofocus: true, autocomplete: "image", class: "form-control"

    
    = f.submit "submit", class: "form-control w-50"